{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <center><h1>Danh sách sản phẩm</h1></center>
{#    {{ form(form) }}#}
    <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
            <a class="btn btn-info" href="them-san-pham">Thêm sản phẩm</a>
        </div>
    </div>
    </br><div class="row">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Quanyity</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row">{{ product.id}}</td>
                <td>{{ product.name}}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td><button class="btn btn-info"><i class="fa fa-edit"></i></button></td>
                <td><button class="btn btn-info"><i class="fa fa-close"></i></button></td>
                </tr>
        
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}

{#    <script>#}
{#       localStorage.setItem('aa',{{ nhuy }});#}
{#    </script>#}
{% endblock %}